<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../head/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../header/header'); %>
    </header>

    <main>
        <div class="jumbotron">
            <h1>This is great</h1>
            <p>Welcome to templating using EJS</p>
            <a href="/create-user" class="btn btn-primary">Create new user</a>
        </div>
    </main>

    <footer>
        <%- include('../footer/footer'); %>
    </footer>

</body>

</html>
Save the changes to this file and then run the application: